@import '../_colors';

.web-theme-button-primary {
  color: white;
  background-color: $primary;
  border-color: $primary;
  border-radius: 2px;

  &:hover {
    color: white;
    background-color: $primary-hover;
    border-color: $primary-hover;
  }

  &:active {
    color: white !important;
    background-color: $primary-active !important;
    border-color: $primary-active !important;
    outline: none !important;
    box-shadow: none !important;
  }

  &:focus {
    color: white;
    background-color: $primary-focus;
    border-color: $primary-focus;
    outline: none;
    box-shadow: none;
  }

  &.is-loading {
    // implement loading style
  }
}

.web-theme-button-secondary {
  color: white;
  background-color: $secondary;
  border-color: $secondary;
  border-radius: 2px;

  &:hover {
    color: white;
    background-color: $secondary-hover;
    border-color: $secondary-hover;
  }

  &:active {
    color: white !important;
    background-color: $secondary-active !important;
    border-color: $secondary-active !important;
    outline: none !important;
    box-shadow: none !important;
  }

  &:focus {
    color: white;
    background-color: $secondary-focus;
    border-color: $secondary-focus;
    outline: none;
    box-shadow: none;
  }

  &.is-loading {
    // implement loading style
  }
}
