$primary: #FBA100;
$primary-hover: #FBB333;
$primary-active: #E39100;
$primary-focus: #DE8E00;
$secondary: #6BBAA7;
$secondary-hover: #8BDAC7;
$secondary-active: #62AB99;
$secondary-focus: #569586;
$positive: #53A653;
$positive-hover: #5CB85C;
$positive-active: #4A934A;
$positive-focus: #376E37;
$negative: #FC3D39;
$negative-hover: #FF6F6C;
$negative-active: #F25154;
$negative-focus: #E33437;
